:root {
    --basecolor: #2b98ff;
    --white: #ffffff;
    --yellow: #ffdc2b;
    --cardbordercolor: #ffc96d;
    --darkgrey: #949293;
    --darkgrey2: #e7ebed;
    --cardtextcolor: #2baaff;
    --fwextrabold: 800;
    --fwbold: 700;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: var(--basecolor); */
}

.navbar {
    --bs-nav-link-padding-y: 0;
}

.navbar-nav .dropdown-menu {
    --bs-dropdown-padding-y: 0;
    border: none;
}

.navbar-toogler .navbar-toggler-icon {
    border-color: var(--white);
}

.navbar-toggler .collapsed {
    border-color: var(--white);
}

.navbar-toggler {
    border-color: var(--white);
    color: var(--white);
}

.navbar-nav .nav-item a:hover {
    color: var(--yellow);
    transition: all 0.3s ease;
    font-weight: var(--fwsemibold);
}

.navbar-nav .nav-item {
    transition: all 0.3s ease;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: var(--fwregular);
    background: var(--basecolor);
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.main-navbar {
    background: var(--basecolor, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    padding: 30px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    z-index: 1;
}

.navbar-brand {
    font-weight: var(--fwbold);
    font-size: 28px;
    color: white;
}

.navbar-brand:hover {
    font-weight: var(--fwbold);
    font-size: 28px;
    color: var(--yellow) !important;
}

/* Select2 Multiple Tag Style */
.select2-container--bootstrap-5 .select2-selection--multiple {
    border: 1px solid #ced4da;
    min-height: 38px;
    border-radius: 6px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.select2-container--bootstrap-5 .select2-selection__choice {
    background-color: var(--basecolor);
    color: white;
    border: none;
    margin-top: 0.25rem;
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: var(--fwsemibold);
}
